// Base values for the entire site. You can change font color or background color here, for example.
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  scroll-behavior: smooth;
  background: #222;
  font-weight: 300;
  line-height: 1.6;
}