@mixin bgImage($image-width, $image-height) {
  background-size: 100%;
  height: 0;
  padding-bottom: percentage($image-height / $image-width);
  display: block;
}

@mixin respond($breakpoint) {
  @if $breakpoint==phone {
    @media only screen and (max-width: 37.5em) {
      // 600px
      @content
    }
    ;
  }
  @if $breakpoint==phoneLandscape {
    @media only screen and (max-height: 25.688em) {
      // 25.688em
      @content
    }

    ;
  }

  @if $breakpoint==customSmall {
    @media only screen and (max-width: 50em) {
      // 800px
      @content
    }

    ;
  }

  @if $breakpoint==ultraSpecific {
    @media only screen and (min-width: 53.125em) {
      // 850px
      @content
    }

    ;
  }

  @if $breakpoint==tabPort {
    @media only screen and (max-width: 56.25em) {
      // 900px
      @content
    }

    ;
  }

  @if $breakpoint==customMedium {
    @media only screen and (max-width: 62.5em) {
      // 1000px
      @content
    }

    ;
  }

  @if $breakpoint==tabLand {
    @media only screen and (max-width: 75em) {
      // 1200px
      @content
    }

    ;
  }

  @if $breakpoint==bigDesktop {
    @media only screen and (max-width: 112.5em) {
      // 1800px
      @content
    }

    ;
  }
}

@include respond(phone) {}

@include respond(phoneLandscape) {}

@include respond(tabPort) {}

@include respond(customMedium) {}

@include respond(tabLand) {}

@include respond(bigDesktop) {}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Media Query Manager
/*
0   - 600px:   Phone
601 - 900px:   Table Portrait
901 - 1200px:  Tablet Landscape
1201 - 1800px: Normalized
1800px + :     Big Desktop
*/

// @mixin respond-phone {
//   @media(max-width: 600px) {
//     @content
//   };
// }

/*
$breakpoint argument choices:
- phone
- tabPort
- tabLand
- bigDesktop
Order: Base + typography > general layout + grid > page layout > components
1em = 16px
*/

// @mixin respond($breakpoint) {
//   @if $breakpoint == phone {
//     @media only screen and (max-width:  37.5em) { // 600px
//       @content
//     };
//   }
//   @if $breakpoint == tabPort {
//     @media only screen and (max-width:  56.25em) { // 900px
//       @content
//     };
//   }
//   @if $breakpoint == tabLand {
//     @media only screen and (max-width:  75em) { // 1200px
//       @content
//     };
//   }
//   @if $breakpoint == bigDesktop {
//     @media only screen and (min-width:  112.5em) { // 1800px
//       @content
//     };
//   }
// }