.finalfantasy {
  grid-column: 1;
  grid-row: 4;
  background: $darkWhite;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  &__jobs {
    grid-column: -1;
    grid-row: 1 / -1;
    padding: 5rem 1rem;
    display: flex;
    flex-direction: column;
    flex-flow:column;
    flex-wrap: nowrap;
    img {
      width: 5rem;
      height: 5rem;
    }
  }
  &__choco {
    grid-column: 1;
    grid-row: -1;
    position: relative;
    justify-self: left;
    bottom: -5px;
    left: 0;
    & img {
      width: 20rem;
      height: 20rem;
    }
  }
}