.finalfantasy {
  grid-column: 1;
  grid-row: 4;
  background: $darkWhite;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  color: $specialRed;
  &__information {
    grid-column: 1 / 5;
    grid-row: 1 / -1;
    justify-self: center;
    align-self: center;
    span {
      font-size: 3rem;
    }
    h1 {
      font-size: 3.2rem;
      animation: slideinLeft 1s linear;
    }
    h3 {
      animation: slideinLeft 1s linear;
      font-size: 2.9rem;
    }
  }
  &__image {
    grid-column: -1;
    grid-row: 1 / -1;
  }
  &__choco {
    grid-column: 1;
    grid-row: -1;
    position: relative;
    justify-self: left;
    bottom: -5px;
    left: 0;
    & img {
      width: 20rem;
      height: 20rem;
    }
  }
}