.locations {
  grid-column: 1;
  grid-row: 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  @include respond(tabPort) {
    grid-row: 5;
    height: 100vh;
  }
  @include respond(phoneLandscape) {
    grid-row: 7;
  }
  @include respond(phone) {
    grid-row: 4;
  }
  & img {
    padding: 0 5px 0 5px;
    width: 100%;
    height: auto;
  }
}