.open {
  display: block;
  position: fixed;
  top: 4.5rem;
  right: 2.5rem;
  font-size: 3rem;
  text-align: center;
  z-index: 999;
  color: $druidOrange;
  // background: $druidOrange;
  background: none;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
}