.open {
  display: block;
  position: fixed;
  top: 4.5rem;
  right: 2.5rem;
  font-size: 2rem;
  // text-align: center;
  z-index: 999;
  color: $primaryColor;
  background: $druidOrange;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  outline: none;
  cursor: pointer;
}