.header {
  display: block;
  width: 100%;
  height: 7rem;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: height 0.3s;

  & h1 {
    display: block;
    margin: 0;
    padding: 1.35rem 0 0 0;
    float: left;
    font-family: "Open Sans", sans-serif;
    font-size: 4rem;
    color: $druidOrange;
    text-shadow: 0.5px 0.5px $headerWhite;
    font-weight: 400;
    transition: all 0.3s;

    &:hover {
      color: $headerWhite;
      text-shadow: 0.5px 0.5px $druidOrange;
    }
  }

  &-container {
    width: 80%;
    margin: 0;
    padding: 0 3rem;
  }

  & nav {
    display: block;
    float: right;
    position: fixed;
    right: 0;
    padding: 0 7rem 0 0;
    height: 7rem;

    & a {
      text-decoration: none;
      line-height: 10rem;
      margin-left: 2rem;
      color: $druidOrange;
      font-weight: 300;
      font-size: 2rem;
      transition: all 0.3s;

      &:hover {
        color: $headerWhite;
      }
    }
  }
}

header.smaller {
  height: 6rem;
  border-bottom: none;
  background: linear-gradient(to right, orange, yellow, green, cyan, blue, violet);

  & h1 {
    line-height: 7rem;
    font-size: 4rem;
    padding: 0;
    margin: 0;
    color: $primaryColor;
  }

  & nav {
    display: block;
    float: right;
    position: absolute;
    right: 0;
    padding: 0 7rem 0 0;

    & a {
      line-height: 7.5rem;
      color: $headerWhite;
    }
  }
}

// @media all and (max-width: 760px) {
//   header h1#logo {
//     display: block;
//     float: none;
//     margin: 0 auto;
//     height: 100px;
//     line-height: 80px;
//     text-align: center;
//   }

//   header nav {
//     display: block;
//     float: none;
//     height: 50px;
//     text-align: center;
//     margin: 0 auto;
//   }

//   header nav a {
//     line-height: 50px;
//     margin: 0 10px;
//   }

//   header.smaller {
//     height: 75px;
//   }

//   header.smaller h1#logo {
//     height: 40px;
//     line-height: 40px;
//     font-size: 30px;
//     width: 100%;
//   }

//   header.smaller nav {
//     height: 35px;
//   }

//   header.smaller nav a {
//     line-height: 35px;
//   }
// }

// @media all and (max-width: 600px) {
//   .container {
//     width: 100%;
//   }

//   footer a {
//     display: block;
//   }
// }