.modal {
  background: $primaryColor;
  display: none;
  position: fixed;
  top: 52.5%;
  left: 50%;
  height: 92vh;
  width: 95vw;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
  padding: 1rem;
  // grid-template-columns: repeat(auto-fit, minmax(max-content, 1fr));
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 1fr 1fr 5rem;
  // justify-items: center;
  z-index: 500;

  h3 {
    color: $monkGreen;
  }

  &-streamer {
    grid-column: 1;
    grid-row: 1;
    padding: 0 0 0 2.5rem;
  }

  &-resources {
    padding: 0 5rem 0 5rem;
    justify-self: center;
    grid-column: 2;
    grid-row: 1;
  }

  &-openButton {
    border-radius: 7rem;
    width: 100%;
    padding: 1rem;
    margin: 1rem;
    font-size: $base;
    background: $monkGreen;
    color: $druidOrange;
    outline: $druidOrange;
    border: $druidOrange;
    box-shadow: $darkness;
    cursor: pointer;
    transition: all .2s ease-in-out;

    &:hover {
      width: 100%;
      padding: 1rem;
      margin: 1rem;
      transform: translateY(1px);
    }

    &:active {
      width: 100%;
      padding: 1rem;
      margin: 1rem;
      transform: translateY(3px);
    }
  }

  &-close {
    padding: 0 0 1rem 0;
    margin: 0;
    grid-row: 3;
    grid-column: 2;
    width: 50%;
    height: 50%;
    justify-self: center;
    align-self: center;
    border-radius: 20rem;
    background: $druidOrange;
    color: $monkGreen;
    border: $monkGreen;
    outline: orange;
    cursor: pointer;
    font-size: 20px;
    // box-shadow: $darkness;
    transition: all .35s ease-in-out;
    z-index: 101;

    &:hover {
      padding: 0;
      margin: 0;
      width: 100%;
    }

    &:active {
      transition: all .1s ease-in-out;
      transform: translateY(3px);
    }
  }

  &-backdrop {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 100vh;
    width: 99.2vw;
    overflow: hidden;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
    background: rgba(0, 0, 0, .95);
    z-index: 5;
  }
}