.nav {
  grid-column: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  position: sticky;
  top: 0;
  z-index: 3;
  &-wow {
    background: url("../../../images/wowbg.jpg") no-repeat center center / cover;
    height: 100%;
    grid-column: 1;
    grid-row: 1;
    @include navDefaults;
  }
  &-finalfantasy {
    grid-column: 1;
    grid-row: 2;
    background: url("../../../images/ff14bg.jpg") no-repeat center center / cover;
    @include navDefaults;
  }
  &-favoritecat {
    background: url("../../../images/mainecoontabby.jpg") no-repeat center center / cover;
    grid-column: 1;
    grid-row: 3;
    @include navDefaults;
  }
  &-catfacts {
    background: url("../../../images/meowmeow.jpg") no-repeat center center / cover;
    grid-column: 1;
    grid-row: 4;
    @include navDefaults;
  }
}