.wrapper {
  position: relative;
  grid-column: 1;
  grid-row: 1;
  width: 100vw;
  height: 100vh;
}
 
.slide {
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

#bg__image-one.lazy {
  background-color: #fff;
  background-image: none;
}

.phonemq {
  @include respond(phoneLandscape) {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
  @include respond(phone) {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

#bg__image-one {
  background-image: url(../compressed/kunlai.webp);
}
 
#bg__image-two.lazy {
  background-color: #fff;
  background-image: none;
}

#bg__image-two {
  background-image: url(../compressed/vale.webp);
}

#bg__image-three.lazy {
  background-color: #fff;
  background-image: none;
}

#bg__image-three {
  background-image: url(../compressed/wodnagrand.webp);
}

#bg__image-four.lazy {
  background-color: #fff;
  background-image: none;
}

#bg__image-four {
  background-image: url(../compressed/zangarmarsh.webp);
}

#bg__image-five.lazy {
  background-color: #fff;
  background-image: none;
}

#bg__image-five {
  background-image: url(../compressed/churningmists.webp);
}

#bg__image-six.lazy {
  background-color: #fff;
  background-image: none;
}

#bg__image-six {
  background-image: url(../compressed/dravanianforelands.webp);
}

#bg__image-seven.lazy {
  background-color: #fff;
  background-image: none;
}

#bg__image-seven {
  background-image: url(../compressed/finalfantasybackground.webp);
}

#bg__image-eight.lazy {
  background-color: #fff;
  background-image: none;
}

#bg__image-eight {
  background-image: url(../compressed/karasang.webp);
}

#bg__image-nine.lazy {
  background-color: #fff;
  background-image: none;
}

#bg__image-nine {
  background-image: url(../compressed/legiondalaran.webp);
}

#bg__image-ten.lazy {
  background-color: #fff;
  background-image: none;
}

#bg__image-ten {
  background-image: url(../compressed/nagrand.webp);
}

#bg__image-eleven.lazy {
  background-color: #fff;
  background-image: none;
}

#bg__image-eleven {
  background-image: url(../compressed/rubysea.webp);
}

#bg__image-twelve {
  background-color: #fff;
  background-image: none;
}

#bg__image-twelve {
  background-image: url(../compressed/seaofclouds.webp);
}

#bg__image-thirteen.lazy {
  background-color: #fff;
  background-image: none;
}

#bg__image-thirteen {
  background-image: url(../compressed/thelochs.webp);
}

#bg__image-fourteen.lazy {
  background-color: #fff;
  background-image: none;
}

#bg__image-fourteen {
  background-image: url(../compressed/wodspires.webp);
}

.slide__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  span {
    font-size: 5rem;
    font-weight: 900;
    color: $black;
    background: $headerWhite;
    mix-blend-mode: screen;
    padding: 2rem 4rem;
    @include respond(phoneLandscape) {
      font-size: 1.8rem;
      padding: 1rem 2rem;
    }
    @include respond(phone) {
      font-size: 2rem;
      padding: 1rem 2rem;
    }
  }
}


.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -3.5rem;
  width: 0;
  height: 0;
  border-style: solid;
  @include respond(phoneLandscape) {
    margin-top: -1.75rem;
  }
  @include respond(phone) {
    margin-top: -1.75rem;
  }
}

.arrow__left {
  z-index: 4;
  border-width: 3rem 4rem 3rem 0;
  left: 0;
  margin-left: 3rem;
  border-color: transparent $druidOrange transparent transparent;
  @include respond(phoneLandscape) {
    border-width: 2rem 2rem 2rem 0;
    margin-left: 1.5rem;
  }
  @include respond(phone) {
    border-width: 1.5rem 2rem 1.5rem 0;
    margin-left: 1.5rem;
  }
}

.arrow__right {
  border-width: 3rem 0 3rem 4rem;
  right: 0;
  margin-right: 3rem;
  border-color: transparent transparent transparent $monkGreen;
  @include respond(phoneLandscape) {
    border-width: 1.5rem 0 1.5rem 2rem;
    margin-right: 1.5rem;
  }
  @include respond(phone) {
    border-width: 1.5rem 0 1.5rem 2rem;
    margin-right: 1.5rem;
  }
}