.wrapper {
  position: relative;
  grid-column: 1;
  grid-row: 1;
  width: 100vw;
  height: 100vh;
}
 
.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

#bg__image-one.lazy {
  background-color: #fff;
  background-image: none;
}

#bg__image-one {
  background-image: url(../../src/compressed/kunlai.webp);
}
 
#bg__image-two.lazy {
  background-color: #fff;
  background-image: none;
}

#bg__image-two {
  background-image: url(../../src/compressed/vale.webp);
}

#bg__image-three.lazy {
  background-color: #fff;
  background-image: none;
}

#bg__image-three {
  background-image: url(../../src/compressed/wodnagrand.webp);
}

#bg__image-four.lazy {
  background-color: #fff;
  background-image: none;
}

#bg__image-four {
  background-image: url(../../src/compressed/zangarmarsh.webp);
}

#bg__image-five.lazy {
  background-color: #fff;
  background-image: none;
}

#bg__image-five {
  background-image: url(../../src/compressed/churningmists.webp);
}

#bg__image-six.lazy {
  background-color: #fff;
  background-image: none;
}

#bg__image-six {
  background-image: url(../../src/compressed/dravanianforelands.webp);
}

#bg__image-seven.lazy {
  background-color: #fff;
  background-image: none;
}

#bg__image-seven {
  background-image: url(../../src/compressed/finalfantasybackground.webp);
}

#bg__image-eight.lazy {
  background-color: #fff;
  background-image: none;
}

#bg__image-eight {
  background-image: url(../../src/compressed/karasang.webp);
}

#bg__image-nine.lazy {
  background-color: #fff;
  background-image: none;
}

#bg__image-nine {
  background-image: url(../../src/compressed/legiondalaran.webp);
}

#bg__image-ten.lazy {
  background-color: #fff;
  background-image: none;
}

#bg__image-ten {
  background-image: url(../../src/compressed/nagrand.webp);
}

#bg__image-eleven.lazy {
  background-color: #fff;
  background-image: none;
}

#bg__image-eleven {
  background-image: url(../../src/compressed/rubysea.webp);
}

#bg__image-twelve {
  background-color: #fff;
  background-image: none;
}

#bg__image-twelve {
  background-image: url(../../src/compressed/seaofclouds.webp);
}

#bg__image-thirteen.lazy {
  background-color: #fff;
  background-image: none;
}

#bg__image-thirteen {
  background-image: url(../../src/compressed/thelochs.webp);
}

#bg__image-fourteen.lazy {
  background-color: #fff;
  background-image: none;
}

#bg__image-fourteen {
  background-image: url(../../src/compressed/wodspires.webp);
}

.slide__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  span {
    font-size: 5rem;
    font-weight: 900;
    color: $black;
    background: $headerWhite;
    mix-blend-mode: screen;
    padding: 2rem 4rem;
  }
}


.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -3.5rem;
  width: 0;
  height: 0;
  border-style: solid;
}

.arrow__left {
  border-width: 3rem 4rem 3rem 0;
  left: 0;
  margin-left: 3rem;
  border-color: transparent $druidOrange transparent transparent;
}

.arrow__right {
  border-width: 3rem 0 3rem 4rem;
  right: 0;
  margin-right: 3rem;
  border-color: transparent transparent transparent $monkGreen;
}