.favoritecat {
  grid-column: 2 / 4;
  grid-row: 6;
  font-size: $base;
  color: $druidOrange;
  display: grid;
  margin-left: 2rem;
  grid-template-rows: max-content 1fr;
  &-slideshow {
    grid-row: 2;
    overflow: hidden;
    height: 43rem;
    width: 72.8rem;
    transform: translate(-75%, -5%);
    // Align to the left? Have another block with different pictures?
    display: block;
    &__wrapper {
      width: 4368px;
      animation: slideShow 8s ease infinite;
    }
  }
  & section {
    font-size: 2.6rem;
  }
  & h3,
    h4,
    p, {
    display: inline-block;
  }
}

.slide {
  float: left;
  height: 43rem;
  width: 72.8rem;
}

.favoritecat-slideshow__slideOne {
  background: url('../../../images/maine001.jpg') no-repeat center center / cover;
}

.favoritecat-slideshow__slideTwo {
  background: url('../../../images/maine009.jpg') no-repeat center center / cover;
}

.favoritecat-slideshow__slideThree {
  background: url('../../../images/maine010.jpg') no-repeat center center / cover;
}

.favoritecat-slideshow__slideFour {
  background: url('../../../images/maine004.jpg') no-repeat center center / cover;
}