.catfacts {
  grid-column: 2 / 4;
  grid-row: 8;
  align-self: center;
  margin-left: 2rem;
  color: $druidOrange;
  & ul {
    font-size: 1.8rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max-content, 1fr));
    & li {
      padding: 3px 0 3px 0;
    }
  }
}