.output {
  display: grid;
  font-size: $base;
  color: $druidOrange;
  margin-top: 5rem;
  grid-column: 2;
  grid-row: 1;
  grid-template-columns: 4rem 1fr 1fr 4rem;
  grid-template-rows: 5rem;
  padding-top: 5rem;
  > div {
    justify-self: right;
  }
  &-nameLeft {
    grid-column: 2;
    grid-row: 1;
    align-self: center;
  }
  &-specLeft {
    grid-column: 2;
    grid-row: 2;
  }
  &-ranksLeft {
    grid-column: 2;
    grid-row: 3;
    align-self: center;
  }
  &-recentLeft {
    grid-column: 2;
    grid-row: 4;
    align-self: center;
  }
  &-likesLeft {
    grid-column: 2;
    grid-row: 5;
  }
  &-name {
    grid-column: 3;
    grid-row: 1;
    align-self: center;
  }
  &-spec {
    grid-row: 2;
    grid-column: 3;
    align-self: center;
  }
  &-score {
    grid-row: 3;
    grid-column: 3;
    align-self: center;
  }
  &-recent {
    grid-row: 4;
    grid-column: 3;
    text-align: right;
    align-self: center;
  }
  &-likes {
    grid-row: 5;
    grid-column: 3;
    text-align: right;
    align-self: center;
  }


  &-who {
    grid-column: 2;
    grid-row: 1;
    align-self: center;
  }
  &-what {
    grid-column: 2;
    grid-row: 2;
    align-self: center;
  }
  &-ranks {
    grid-column: 2;
    grid-row: 3;
    align-self: center;
  }
  &-mostRecent {
    grid-column: 2;
    grid-row: 4;
    align-self: center;
  }
  &-interests {
    grid-column: 2;
    grid-row: 5;

  }
}

