.output {
  display: grid;
  font-size: $base;
  color: $druidOrange;
  margin-top: 2.5rem;
  grid-column: 2;
  grid-row: 1;
  grid-template-columns: 4rem repeat(auto-fit, minmax(max-content, 50rem));
  // grid-template-columns: 4rem 1fr 1fr 4rem;
  grid-template-rows: max-content;
  padding-top: 2.5rem;
  & a {
    transition: all .3s ease-out;
    &:hover {
      transition: all .3s ease-in;
      color: $primaryColor;
      background: $druidOrange;
      padding: 5px;
    }
  }
  > div {
    justify-self: right;
  }
  &-talentHeading {
    grid-column: 4;
    grid-row: 1;
    text-align: center;
    align-self: center;
  }
  &-talents {
    grid-column: 4;
    grid-row: 2 / 6;
    font-size: 3.5rem;
    text-align: center;
    & img {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
  &-nameLeft {
    grid-column: 2;
    grid-row: 1;
    align-self: center;
  }
  &-specLeft {
    grid-column: 2;
    grid-row: 2;
  }
  &-ranksLeft {
    grid-column: 2;
    grid-row: 3;
    align-self: center;
  }
  &-recentLeft {
    grid-column: 2;
    grid-row: 4;
    align-self: center;
  }
  &-likesLeft {
    grid-column: 2;
    grid-row: 5;
  }
  &-streamersLeft {
    grid-column: 2;
    grid-row: 6;
  }
  &-name {
    grid-column: 3;
    grid-row: 1;
    align-self: center;
  }
  &-spec {
    grid-row: 2;
    grid-column: 3;
    align-self: center;
  }
  &-score {
    grid-row: 3;
    grid-column: 3;
    align-self: center;
  }
  &-recent {
    grid-row: 4;
    grid-column: 3;
    text-align: right;
    align-self: center;
  }
  &-likes {
    grid-row: 5;
    grid-column: 3;
    text-align: right;
    align-self: center;
  }
  &-streamers {
    grid-row: 6;
    grid-column: 3;
    text-align: right;
  }
  &-who {
    grid-column: 2;
    grid-row: 1;
    align-self: center;
  }
  &-what {
    grid-column: 2;
    grid-row: 2;
    align-self: center;
  }
  &-ranks {
    grid-column: 2;
    grid-row: 3;
    align-self: center;
  }
  &-mostRecent {
    grid-column: 2;
    grid-row: 4;
    align-self: center;
  }
  &-interests {
    grid-column: 2;
    grid-row: 5;

  }
}

