.primary {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 100vh 2rem 100vh 2rem 100vh 1rem 100vh;

  &-testing {
    position: absolute;
    left: 0;
    top: 288%;
    grid-row: 6;
    justify-self: left;
    z-index: 3;
  }
}